apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend-container
          image: 049061799945.dkr.ecr.ap-northeast-1.amazonaws.com/shopping-site-backend:f7b36d7451a6aabd79c8d3ca762d309d13ecbb77
          ports:
            - containerPort: 5000
